@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap");
@keyframes updown {
    0% {
      top: -20px;
    }
    100% {
      top: 30px;
    }
  }
  @keyframes updown {
    0% {
      top: -20px;
    }
    100% {
      top: 30px;
    }
  }
* {
  font-family: "Nunito", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}

html {
  font-size: 70.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #000;
}
html::-webkit-scrollbar-thumb {
  background: #f00;
}

body {
  background: #000;
}
section {
    padding: 5rem 9%;
  }
  
p {
    text-transform: none;
    color: white;
  }
  
  .heading {
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
  }
  .heading::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: 0.1rem;
    width: 100%;
    background: #aaa;
    z-index: -1;
  }
  .heading span {
    font-size: 3rem;
    color: #f00;
    background: #000;
    padding: 0.5rem 1.5rem;
    border: 0.1rem solid #aaa;
    border-radius: 0.5rem;
  }
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 9%;
    z-index: 10000;
    background: #000;
  }
  .header .logo {
    font-weight: bolder;
    color: #fff;
    font-size: 3rem;
  }
  .header .logo span {
    color: #f00;
  }
  .header .navbar a {
    display: inline-block;
    padding: 1.5rem 2rem;
    font-size: 1.7rem;
    color: #fff;
  }
  .header .navbar a:hover {
    background: #f00;
  }
  
  #menu-btn {
    font-size: 3rem;
    color: #fff;
    cursor: pointer;
    display: none;
  }
  .footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
    padding-top: 400px;
  }
  .footer .box-container .box h3 {
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem 0;
  }
  .footer .box-container .box .links {
    font-size: 1.6rem;
    display: block;
    color: #aaa;
    padding: 1rem 0;
  }
  .footer .box-container .box .links:hover {
    color: #f00;
  }
  .footer .box-container .box p {
    font-size: 1.6rem;
    color: #aaa;
    padding: 1rem 0;
  }
  .footer .box-container .box p i {
    padding-right: 0.5rem;
    color: #f00;
  }
  .footer .box-container .box .share {
    padding: 1rem 0;
  }
  .footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    color: #fff;
    background: #111;
    border-radius: 50%;
    margin-right: 0.5rem;
    text-align: center;
  }
  .footer .box-container .box .share a:hover {
    background: #f00;
  }
  .footer .box-container .box form .email {
    margin-bottom: 1rem;
    width: 100%;
    background: #111;
    padding: 1.2rem;
    font-size: 1.5rem;
    color: #fff;
    text-transform: none;
  }
  
  .credit {
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
    color: #fff;
    background: #111;
    line-height: 1.5;
  }
  .credit span {
    color: #f00;
  }
  .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 2.8rem;
    padding-right: 3rem;
    background: linear-gradient(130deg, #f00 93%, transparent 90%);
    color: #fff;
    cursor: pointer;
    font-size: 1.7rem;
  }
  .btn:hover {
    transform: scale(1.1);
  }
#about-head {
    font-size: 3rem;
    color: #fff;
    text-align: center;
    padding: 2rem 0;
    margin-top: 100px;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#about-head img{
    margin-left: 20px;
}
#container{
    width: 100%;
    height: auto;
    position: relative;
    margin: 0 auto;
    margin-top: 15%;
    margin-bottom: 100px;
    
  }  
.swiper {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%);
    /* margin-left: -250px; */
    /* margin-top: -250px; */
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    border-radius: 10px;
  }
  .swiper-slide:nth-child(3){
    padding: 10px;
    background-color: red;
    text-align: center;
  }
  .swiper-slide:nth-child(3) h2{
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    border-radius: 10px;
  }
  .swiper-slide:nth-child(3) img:nth-child(2){
    width: auto;
    height: auto;
    margin: 0 auto 70px auto;
    position: relative;
    animation: updown 1.5s infinite alternate;
  }
  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #000;
    opacity: 1;
  }
    .swiper-pagination-bullet-active {
        background: #fff;
    }
 
  /* color: white;
  
  font-size: 80px;
  -webkit-animation: updown 1.5s infinite alternate;
          animation: updown 1.5s infinite alternate; */